<div class="user_input border-start border-5 p-2 mb-3">
  <%= @user_input %>
  <p class="m-0"><em>-You</em></p>
</div>

<div class="coach border-start border-5 p-2 mb-3 bg-warning" style="--bs-bg-opacity: .2;">
  <%= @answer %>
  <p class="m-0"><em>-Your coach</em></p>
</div>

<%= link_to "ask another question", "/ask" %>
