<form class="col-4" action="/answer">
  <label for="question">Ask your coach anything:</label>
  <div class="d-flex">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
